

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500&display=swap');


*{
    margin: 0;
    padding: 0;
    /*font-family: 'Roboto Slab', serif;*/
}

/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color : #667c3e;
    box-shadow: 0xp 5xp 18xp#667c3e;
    padding: 0px;
  }

.logo{
  width: 8%;
  height: 50%;
}
.logo-letra {
  width: 50%;
  height: 50px;
  padding: 0px;
  margin:  0px;

}

.logo-auto{
  padding: 0px;
}
.auto{
  width: 80px;
  height: 80px;
}
header h1{
    color: #e2dada;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #141313, 0 2px 0 #1a1818, 0 3px 0 #353131, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    margin: 5px;
    padding-left: 10px;
  }


header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
}
#navul li a {
    font-size: 16px;
    color:rgba(238, 243, 238, 0.856);
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    font-weight: 500;
}
#navul li a:hover{
    
    color:#7a7a7a;
}
.icon-bar {
    align-items: center;
  }
#btn-buscar{
  align-items: center;
  color: rgba(238, 243, 238, 0.856);
  border-color: rgba(238, 243, 238, 0.856);
}

#btn-buscar a:hover{
  color:black;
}

/*.icon-bar a {
    transition: all 0.3s ease;
    color: white;
    display: inline;
    font-size: 20px;
    justify-content: space-around;
    gap: 60px;
    text-decoration: none;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }*/

  /*MAIN*/

  .carousel, .carousel-inner {
    height: 100vh;
  }

  .carousel-caption{
    position:relative;
    top: 5px;
    
  }

  .h5-carousel{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: #7a7a7a;
    
    }

    .p-carousel{
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      font-family: Helvetica;
      text-shadow: #7a7a7a;
      }
      
    


  .section2{
    
    height: 100vh;
  }
  .h1-section2{
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 40px;
    color: rgba(20, 16, 16, 0.233);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black, 0 0 0.1em rgb(9, 9, 10), 0 0 0.1em rgb(84, 84, 88);
  }
  
  .card{
    background-color: #7a7a7a;
    border-color: #667c3e;
  }

  .texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 26px;
    font-weight: 700;
    color: rgba(20, 16, 16, 0.233);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black, 0 0 0.1em blue, 0 0 0.1em blue;
}
.centrado{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 50;
    color: rgb(253, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}
  /*SECCION 3*/
  #contacto  {
    text-align: center;
    margin: 9% auto 0;
    width: 60%;
    padding: 10px;
    box-shadow:rgb(7, 54, 76);
    height: 100vh;
}
.primera-seccion h2 {
    text-transform: uppercase;
    color: #a40f0f;
}
.Marca{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.form.side {
    width: 50%;
    margin-top: 2%;
}
.form-side form#form-search {
    display: flex;
    flex-direction: column;
}
.imagen-side {
    background-image: url(./imagenes/auto\ pared.png);
    height: 220px;
    width: 100%;
    background-size: cover;
    
    background-position: center;
}
.form-side #form-search select {
    font-size: inherit;
    margin: 8px 0px 7px;
    background-color: rgb(129, 129, 132);
    padding: 8px 5px;
    border-radius: 7px;
    border: solid 1px #534e69;
    color: #770202;
}
.input[type="submit"] {
    margin: 9px auto 0px;
    width: 70%;
    color: cadetblue;
    background-color: #00a478;
    border: solid 0px #ada2a2;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 3px;
    color: #FFF;
    height: 37px;

}
.input[type="submit"]:hover {
    color: #00a478;
    background-color: #fff;
    border: solid 2px #00a478;
}
.error {
    color: red;
}
.display-info p span{
    font-weight: 700;
}
.display-info .main-price{
    font-size: 28px;
    margin-bottom: 2px;
}
  
/*FOOTER*/
footer{
  width: 100%;
  padding: 40px 0px;
  background-color: black;
  
}
.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: aut;
  margin-top: 10px;
 
}
.footer-box{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.h1-footer{
  margin-bottom: 30px;
  color: #424040;
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #141313, 0 2px 0 #1a1818, 0 3px 0 #353131, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


.footer-box h2{
  margin-bottom: 30px;
  color: #7a7a7a;
  font-weight: 700;
  font-size: 20px;
}

.footer-box .logo{
  width: auto;
  height: auto;
}

.footer-box .descripcion{
  max-width: 200px;
  margin-top: 10px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 20px;
}

.footer-box p{
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.footer-box a{
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  text-decoration: none;
}

.footer-box a:hover{
  color: rgb(216, 139, 103);
}

.footer-box a .fa{
  font-size: 20px;
  text-decoration: none;
}

.footer-copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 20px;
}

.footer-copyright p{
  margin-top: 10px;
  color: #7a7a7a;
  font-size: 12px;
}

.footer-copyright hr{
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

/*FORMULARIO COTIZADOR*/
.btn.btn-raised.btn-primary {
  background-color: #00838F!important;
  font-size: 16px;
  width: 50%;
  padding: auto;
}


.error {
  background-color: #FBE9E7;
  border: 1px solid #F4511E;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #F4511E;
}
.correcto {
  background-color: rgb(211, 249, 187);
  border: 1px solid rgb(50, 167, 0);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(4, 150, 50);
}
.error p {
  margin:0;
}
#contenido {
  margin-top: 60px;
  background-color: white;
  -webkit-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
  -moz-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
  box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
  padding: 20px 20px 20px 20px ;
 
}
.contenido-formulario {
  margin-top: 40px 40px 40px 40px;
}
#cargando {
  text-align: center;
}
#cargando img {
  display: none;
  margin: 0 auto;
}
#resultado  {
  margin-bottom: 40px;
}
#resultado div {
  border: 1px solid #26C6DA;
  text-align: center;
  padding: 0  0 20px 0;
}
#resultado div p {
  margin-bottom: 0;
}
#resultado div p.header {
  background-color: #26C6DA;
  margin-bottom: 10px;
  color:white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}